<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>mvc-test-mike.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4CBBDA2B1E81AA2100BECDAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CBBDA421E81AA2100BECDAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CBBDA4D1E81AA2100BECDAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
