<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UIStackView-Project.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4CE81F741E7C5B24009C5EB5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CE81F8B1E7C5B24009C5EB5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CE81F961E7C5B24009C5EB5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
